.Durchschnitt-div {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}

.einreichenBtn.mat-raised-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container-GN, .container-UES, .container-result {
    width: calc(50% - 10px);
    min-width: 250px;
}

.result-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .container-GN, .container-UES, .container-result, .result-and-button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .row, .result-and-button {
        flex-direction: column;
    }

    .einreichenBtn {
        width: 100%;
        margin-top: 10px;
    }
}
