* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: #F45151;
    padding: 0 10px;
}

.nav-toggle-button {
    margin-right: 4px;
}

.header-text {
    font-size: 36px;
    margin-bottom: 0;
}

.logout-button {
    margin-left: auto;
    margin-right: 20px;
}
