// Centers the login-container inside the page
.login-frame {
    align-items: center;
    justify-content: center;
}

// mat-card containing the entire login form
.login-container {
    width: 420px;
    padding: 20px;

    mat-card-header {
        margin-bottom: 30px;
    }
}

// Displayed error message on failed login attempt
.login-error-notice-container {
    margin-left: auto;

    .login-error-notice {
        color: red;
    }
}

.sign-up-notice-container {
    margin-left: auto;
    margin-bottom: 20px;

    .sign-up-notice {
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .sign-up-notice-link {
        margin-bottom: 0px;
    }
}

.button-container {
    margin-left: auto;
}
